<!doctype html>

<!--注意：引入thymeleaf的名称空间-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<link href="/plugins/jquery-ui-1.12.1.custom/jquery-ui.css" th:href="@{/plugins/jquery-ui-1.12.1.custom/jquery-ui.css}" rel="stylesheet">

<script src="/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script src="/plugins/jquery-ui-1.12.1.custom/jquery-ui.js" th:src="@{/plugins/jquery-ui-1.12.1.custom/jquery-ui.js}"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>handle_data</title>
</head>
<script type="application/javascript">
     var studyType = '[[${obj.studyType}]]';
    $(document).ready(function(){
       //alert(studyType);
    });


</script>
<body>
<p th:text="学习记录......"></p>

<table class="table table-bordered">
    <tr th:each="item:${obj}">
        <td th:text="${item.key}"></td><!-- key-->
        <td th:text="${item.value}"></td><!-- value-->
    </tr>
</table>

</body>
</html>